.user-info-box, .user-info-center-inner, .user-info-right, .team-info-center-inner {
    display: grid;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.user-info-center-inner, .team-info-center-inner {
    text-align: center;
    margin: 20px; 
    border: 2px solid #ccc; 
    padding: 20px;
}

.user-view-item, .team-view-item {
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding: 10px;
}

.tournament-view {
    display: flex;
    flex-wrap: wrap;
}

.tournament-view-item{
    list-style: none;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    width: 300px;
    text-align: center;
}

.tournament-view p {
    margin-top: 10px;
}

.match-line a {
    margin-left: 10px;
}

.match-line p {
    padding-right: 10px;
}

.match-view {
    display: flex; 
    justify-content: space-between; 
    padding: 20px; 
    text-align: center;
}

.match-view .team-players {
    border: 2px solid #ccc; 
    padding: 10px; 
    width: 40%; 
}
