{% extends 'tournament_app/base.html' %}

{% load static %}

{% block content %}

<center>
<h2>Stwórz drużynę.</h2>
<br/><br/>
{% if sumbitted %}
    Pomyślnie stworzono drużynę!
{% else %}
    <form action='' method=POST enctype='multipart/form-data'>
        {% csrf_token %}
        {% for field in form %}
        {% if field.label %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% else %}
            {{ field }}
        {% endif %}
        {% endfor %}
        <input type='submit' value='Stwórz' class='btn btn-secondary'>
        <input type='button' value='Anuluj dodawanie pliku' class='btn btn-danger' onclick='document.getElementById("id_logo").value = ""'>
        <a href='{% url 'tournament_app:index'}'>Powrót</a>
    </form>
</center>

{% endif %}

{% endblock %}