{% extends 'tournament_app/base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournament application</title>
</head>
<body>
    {% block content %}

    {% if user.is_authenticated %}
        {% if user.logo %}
            <img src='{{user.logo.url}}'style='width:200px; length=200px'>
        {% else %}
        {% endif %}
            <img src= '{% static 'tournament_app/user.png' %}' style='width:200px; length=200px;'>
        {%if user.is_team == False %}
            <p>W tym momencie nie posiadasz żadnej drużyny: <a href='{% url 'tournament_app:create_team' %}'>Stwórz</a> ją właśnie teraz!</p>
        {%else %}
                {% for team in user.teams.all %}
                    <p>Drużyna: <a href="{% url 'tournament_app:team_details' pk=team.pk%}">{{ team.name }}</a></p>
                {% endfor %}
        {% endif %}
        <p>informacje o użytkowniku: {{user.info}}
    {% else %}
        <p><a href="{% url 'tournament_app:login' %}">Zaloguj</a> lub <a href="{% url 'tournament_app:register' %}">Stwórz nowe konto</a> by wyświetlić informacje o użytkowniku!</p>
    {% endif %}
    
    {% endblock %}
</body>
</html>