{% extends 'tournament_app/base.html' %}
{% load static %}
{% block content %}


{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
{{ message }}</br></br>
</div>
{% endfor %}
{% endif %} 

<center style='padding: 20px;'>
<div class="container mt-5">
  <h2 style='padding: 10px;'>Zaproś zawodnika do drużyny</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-success" value="Wyślij zaproszenie">
    <a href='{% url 'tournament_app:team_details' pk=team.pk %}' class="btn btn-dark">Powrót</a> 
  </form>
</div>
</center>
{% endblock %}