{% extends 'tournament_app/base.html' %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
{{ message }}</br></br>
</div>
{% endfor %}
{% endif %} 

<center style='padding: 20px;'>
<h2>Dołączenie do turnieju </h2>
<p> Czy na pewno chcesz dołączyć do turnieju {{ tournament.name }}?</p>
<form method='POST' action='{% url 'tournament_app:join_tournament' tournament_pk=tournament.pk team_pk=team.pk %}'>
    {% csrf_token %}
    <button type='submit' class='btn btn-success'>Dołącz</button>
    <a href='{% url 'tournament_app:tournament_details' pk=tournament.pk %}' class="btn btn-dark">Anuluj</a>
</form>
</center>

{% endblock %}