{% extends 'tournament_app/base.html' %}

{% load static%}

{% block content %}

{% load crispy_forms_tags %}



<div class='container py-5'>
    <h1>Logowanie</h1>

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
{{ message }}</br></br>
</div>
{% endfor %}
{% endif %} 

    <form method="POST">
        {% csrf_token %}
        {{ login_form|crispy }}
        <button class="btn btn-dark" type='submit'>Zaloguj</button>
    </form>
    <p class='text-center'>Nie posiadasz konta? <a href='/register'>Stwórz nowe konto!</a></p>

{% endblock %}