{% extends 'tournament_app/base.html' %}

{% load static %}
<link rel='stylesheet' type="text/css" href='{% static 'tournament_app/style.css' %}'>

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
{{ message }}</br></br>
</div>
{% endfor %}
{% endif %} 
<center>
<h2><strong>{{tournament.name}}</strong></h2>
<h3>Runda {{tournament.round_number}}</h3>
<h4 style='padding: 20px;'>{{match.home_team.name}} vs {{match.away_team.name}}</h4>
</center>

<div class='match-view'>
    <div class='team-players'>
        <h5>Zawodnicy drużyny "{{match.home_team.name}}" </h5>
        {% for player in match.home_team.players.all %}
        <ul>
            <li><a href='{{ player.get_absolute_url }}'>{{ player.username }}</a></li>
        </ul>
        {% endfor %}
    </div>
    <div class='team-players'>
        <h5>Zawodnicy drużyny "{{match.away_team.name}}" </h5>
        {% for player in match.away_team.players.all %}
        <ul>
            <li><a href='{{ player.get_absolute_url }}'>{{ player.username }}</a></li>
        </ul>
        {% endfor %}
    </div>
</div>

<center>
{% if match.is_finished == False %}
    {% if user.is_superuser %}
<form method="post" action="{% url 'tournament_app:save_match' tournament_pk=tournament.pk match_pk=match.pk %}">
    {% csrf_token %}
    <label for="winner">Wybierz zwycięską drużynę:</label>
    <select name="winner" id="winner">
        <option value="{{ match.home_team.pk }}">{{ match.home_team.name }}</option>
        <option value="{{ match.away_team.pk }}">{{ match.away_team.name }}</option>
    </select>
    <br><br>
    <input type="submit" value="Zakończ mecz" class='btn btn-dark'>
</form>
    {% endif %}
{% else %}
    <h4> Mecz zakończony zwycięstwem drużyny {{match.winner}}</h4>
{% endif %}

<a href='{% url 'tournament_app:tournament_details' pk=tournament.pk %}' class='btn btn-dark'>Powrót</a>
</center>
{% endblock %}