{% extends 'tournament_app/base.html' %}

{% load static %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
{{ message }}</br></br>
</div>
{% endfor %}
{% endif %} 

<h1>{{tournament.name}}</h1>
<h2>Runda {{tournament.round_number}}</h2>

<h3>{{match.home_team.name}} vs {{match.away_team.name}}</h3>
<h4>Zawodnicy drużyny gospodarzy: </h4>
{% for player in match.home_team.players.all %}
    <ul>
        <li><a href='{{ player.get_absolute_url }}'>{{ player.username }}</a></li>
    </ul>
{% endfor %}

<h4>Zawodnicy drużyny gości: </h4>
{% for player in match.away_team.players.all %}
    <ul>
        <li><a href='{{ player.get_absolute_url }}'>{{ player.username }}</a></li>
    </ul>
{% endfor %}

{% if match.is_finished == False and user.is_superuser %}
<form method="post" action="{% url 'tournament_app:save_match' tournament_pk=tournament.pk match_pk=match.pk %}">
    {% csrf_token %}
    <label for="winner">Wybierz zwycięską drużynę:</label>
    <select name="winner" id="winner">
        <option value="{{ match.home_team.pk }}">{{ match.home_team.name }}</option>
        <option value="{{ match.away_team.pk }}">{{ match.away_team.name }}</option>
    </select>
    <br><br>
    <input type="submit" value="Zakończ mecz" class='btn btn-dark'>
</form>
{% endif %}

<a href='{% url 'tournament_app:tournament_details' pk=tournament.pk %}' class='btn btn-dark'>Powrót</a>

{% endblock %}