{% extends 'tournament_app/base.html' %}

{%load static %}
<link rel='stylesheet' type="text/css" href='{% static 'tournament_app/style.css' %}'>

{% block content %}

<center>
    <h2 style='padding: 10px;'><strong>Wyniki wyszukiwania frazy: {{query}}</strong></h2>
</center>

{%if teams or users or tournaments %}

    {% for team in teams %}
    <div class='team-view-item'>
    <p>Drużyna: <a href='{{ team.get_absolute_url }}'>{{ team.name }}</a></p>
    {% endfor %}
</div>
    {% for user in users %}
    <div class='user-view-item'>
        <p>Użytkownik: <a href='{{ user.get_absolute_url }}'>{{ user.username }}</a></p>
    </div>
    {% endfor %}

    {% for tournament in tournaments %}
    <div class='team-view-item'>
        <p>Turniej: <a href='{{ tournament.get_absolute_url }}'>{{ tournament.name }}</a></p>
    </div>
        {% endfor %}

{% else %}
    <center>Brak wyników podczas wyszukiwania!</center>
{% endif %}

{% endblock %}

    