{% extends 'tournament_app/base.html' %}


{% load static %}
<link rel='stylesheet' type="text/css" href='{% static 'tournament_app/style.css' %}'>

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
{{ message }}</br></br>
</div>
{% endfor %}
{% endif %} 

{% if team.logo %}
    <img src='{{ team.logo.url }}' style='width:300px; length=300px; display: block; margin: 0 auto;'>
{% else %}
    <img src= '{% static 'tournament_app/team.png' %}' style='width:300px; length=300px; display: block; margin: 0 auto;'>
{% endif %}
<h2 style='text-align:center;'><strong>{{ team.name }}</strong></h2>
    <div class='user-info-center'>
        <div class='user-info-center-inner'>
<strong>Informacje o drużynie: </strong>{{ team.description }}
        </div>
    </div>
<div class='team-info-box' style='float: left; margin: 20px; border: 2px solid #ccc; padding: 20px;'>
{% if team.is_tournament %}
    {% for tournament in team.tournaments.all %}
        <p>Drużyna uczestniczy obecnie w turnieju: <a href='{% url 'tournament_app:tournament_details' pk=tournament.pk %}'>{{ tournament.name }}</a></p>
    {% endfor %}
{% else %}
    <p>Druzyna nie uczestniczy obecnie w zadnym turnieju.</p>
{% endif %}
<p>Ilość wygranych turniejów: {{team.won_tournaments}}
</div>
<div class='team-info-right' style='float: right; margin: 20px; border: 2px solid #ccc; padding: 20px;'>
<h3>Lider drużyny: <a href='{{ team.leader.get_absolute_url }}' >{{ team.leader.username }}</a></h3>
<h3>Ilość zawodników: {{ team.players.count }}/5</h3>
<h3>Zawodnicy: </h3>
{% for player in team.players.all %}
    {% if player == team.leader %}
        <a href='{% url 'tournament_app:user_details'  player.pk %}'>{{ player.username }}</a></br></br> 
    {% else %}
        <a href='{% url 'tournament_app:user_details'  player.pk %}'>{{ player.username }}</a></br></br>
    {% endif %}
     {% if team.leader.id == user.id and player != team.leader %}
        <a href='{% url 'tournament_app:remove_player' team.pk player.pk %}' class="btn btn-danger">Usuń</a></br>
    {% endif %}
{% endfor %}
</div>

{% if team.leader.id == request.user.id %}
    <a href='{% url 'tournament_app:update_team' team.id %}' class="btn btn-dark">Edytuj Drużynę</a>
    <a href='{% url 'tournament_app:delete_team' team.id %}' class="btn btn-danger">Usuń Drużynę</a>
    <a href='{% url 'tournament_app:invite_user' pk=team.pk %}' class="btn btn-success">Dodaj Zawodnika</a>
{% endif %}

{% if user in team.players.all and team.leader.id != request.user.id %}
    <a href='{% url 'tournament_app:leave_team' pk=team.pk %}'>Opuść drużynę</a>
{% endif %}
<a href='{% url 'tournament_app:team_list' %}' class="btn btn-dark">Powrót</a>

{% endblock %}