{% extends 'tournament_app/base.html' %}

{% block content %}

{% if team_list %}
    <ul>
    {% for team in team_list %}
        <li><a href="{% url 'tournament_app:team_details' pk=team.pk %}">{{ team.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Brak dostępnych drużyn.</p>
{% endif %}

{% if user.is_anonymous %}
    <p><a href='{% url 'tournament_app:login' %}'>Zaloguj się</a> by dostać dostęp do tego pola, lub stworzyć Swoją drużynę!</p>
{% else %}
{%if user.is_team %}

{% else %}

    <a href='{% url 'tournament_app:create_team' %}' class="btn btn-dark">Stwórz Swoją drużynę!</a>

{% endif %}
{% endif %}

{% endblock %}