{% extends 'tournament_app/base.html' %}

{% load static %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
{{ message }}</br></br>
</div>
{% endfor %}
{% endif %} 


<h2>{{ team.name }}</h2>
{% if team.logo %}
    <img src='{{ team.logo.url }}' style = 'width:200px; length=200px;'>
{% else %}
    <img src= '{% static 'tournament_app/team.png' %}' style='width:200px; length=200px'>
{% endif %}
{{ team.description }}
{% if team.is_tournament %}
    {{ team.is_tournament }}
{% else %}
    <p>Druzyna nie uczestniczy obecnie w zadnym turnieju.</p>
{% endif %}
<h3>Lider drużyny: <a href='{{ team.leader.get_absolute_url }}'>{{ team.leader.username }}</a></h3>
<h3>Ilość zawodników: {{ team.players.count }}/5</h3>
<h3>Zawodnicy: </h3>

{% for player in team.players.all %}
    {% if player == team.leader %}
        <a href='{% url 'tournament_app:user_details'  player.pk %}'>{{ player.username }}</a></br></br> 
    {% else %}
        <a href='{% url 'tournament_app:user_details'  player.pk %}'>{{ player.username }}</a></br></br>
    {% endif %}
     {% if team.leader.id == user.id and player != team.leader %}
        <a href='{% url 'tournament_app:remove_player' team.pk player.pk %}'>Usuń</a></br>
    {% endif %}
{% endfor %}

{% if team.leader.id == request.user.id %}
    <a href='{% url 'tournament_app:update_team' team.id %}'>Edytuj Drużynę</a>
    <a href='{% url 'tournament_app:delete_team' team.id %}'>Usuń Drużynę</a>
    <a href='{% url 'tournament_app:invite_user' pk=team.pk %}'>Dodaj Zawodnika</a>
{% endif %}

{% if user in team.players.all and team.leader.id != request.user.id %}
    <a href='{% url 'tournament_app:leave_team' pk=team.pk %}'>Opuść drużynę</a>
{% endif %}
<a href='{% url 'tournament_app:team_list' %}'>Powrót</a>

{% endblock %}