{% extends 'tournament_app/base.html' %}
    {% block content %}

        {% if tournaments %}
            <ul>
            {% for tournament in tournaments %}
                <li><a href="{% url 'tournament_app:tournament_details' pk=tournament.pk %}">{{ tournament.name }}</a></li>
                {% if tournament.is_started %}
                    <p>Turniej Trwa!</p>
                {% else %}
                    <p>Liczba drużyn: {{ tournament.team.count }}/{{tournament.number_of_teams}}</p>
                {% endif %}
            {% for team in user.teams.all %}
                {%if tournament.team.count < tournament.number_of_teams and request.user.is_authenticated and request.user.id == team.leader.id and team.is_tournament == False %}
                    <a href='{% url 'tournament_app:join_tournament' tournament_pk=tournament.pk team_pk=team.pk %}' class = 'btn btn-dark'>Dołącz</a>
                {% endif %}
            {% endfor %}
            {% endfor %}
            <p>{{request.team}}</p>
            </ul>
        {% else %}
            <p>Brak dostępnych turniejów.</p>
        {% endif %}
        
    {% endblock %}