{% extends 'tournament_app/base.html' %}

{%load static %}
<link rel='stylesheet' type="text/css" href='{% static 'tournament_app/style.css' %}'>

{% block content %}

 <center>
    <h2 style='padding: 10px;'><strong>Turnieje</strong></h2>
</center>

    <div class='tournament-view'>
        {% if tournaments %}
    {% if tournament.logo %}
        <img src='{{tournament.logo.url}}'style='width:200px; length=200px'>
    {% else %}
        <img src= '{% static 'tournament_app/tournament1.png' %}' style='width:200px; length=200px;'>
    {% endif %}
            <div class='tournament-view-item'>
            {% for tournament in tournaments %}
                <a href="{% url 'tournament_app:tournament_details' pk=tournament.pk %}">{{ tournament.name }}</a>
                {% if tournament.is_started %}
                    <p>Turniej Trwa!</p>
                {% else %}
                    <p>Liczba drużyn: {{ tournament.team.count }}/{{tournament.number_of_teams}}</p>
                {% endif %}
            {% for team in user.teams.all %}
                {%if tournament.team.count < tournament.number_of_teams and request.user.is_authenticated and request.user.id == team.leader.id and team.is_tournament == False and tournament.is_started == False %}
                    <a href='{% url 'tournament_app:join_tournament' tournament_pk=tournament.pk team_pk=team.pk %}' class = 'btn btn-dark'>Dołącz</a>
                {% endif %}
            </div>
            {% endfor %}
            {% endfor %}
            <p>{{request.team}}</p>
        {% else %}
            <p>Brak dostępnych turniejów.</p>
        {% endif %}
    </div>

    {% endblock %}

