{% extends 'tournament_app/base.html' %}

{% load static %}

{% block content %}
    {%if tournament.date %}
        {{tournament.date}}
    {% endif %} 
    {%if tournament.logo %}
        <img src='{{tournament.logo.url}}' style='width:350px; length:350px'>
    {% else %}
        <img src= '{% static 'tournament_app/tournament.png' %}' style='width:350px; length=350px'>
    {% endif %}
    <p>{{tournament.name}}</p>
    <p>{{tournament.description}}</p>
    <p>{{tournament.number_of_teams}}</p>
{% endblock %} 
