{% extends 'tournament_app/base.html' %}

{% load static %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
{{ message }}</br></br>
</div>
{% endfor %}
{% endif %} 

{% block content %}
    {%if tournament.date %}
        {{tournament.date}}
    {% endif %} 
    {%if tournament.logo %}
        <img src='{{tournament.logo.url}}' style='width:350px; length:350px'>
    {% else %}
        <img src= '{% static 'tournament_app/tournament.png' %}' style='width:350px; length=350px'>
    {% endif %}
    <h2>Nazwa Turnieju: {{tournament.name}}</h2>
    <h3>Opis: {{tournament.description}}</h3>
    <ul>
        <h4>Drużyny: </h4>
        {% for team in tournament.team.all %}
           <li><a href='{{ team.get_absolute_url }}'>{{team.name}}</a></li>
        {% endfor %}
    </ul>

    {% if user in team.players.all and team.leader.id == request.user.id and team.is_tournament %}
        <a href='{% url 'tournament_app:leave_tournament' tournament_pk = tournament.pk team_pk = team.pk }'>Opuść Turniej</a>
    {% endif %}

{% endblock %} 
