{% extends 'tournament_app/base.html' %}

{% load static %}

{% block content %}

<center>
    <h2>Edytuj Informacje</h2>
    <br/>
    <form method=POST action='{% url 'tournament_app:update_user' pk=user.pk %}' enctype='multipart/form-data'>
        {% csrf_token %}
        {% for field in form %}
        {% if field.label %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% else %}
            {{ field }}
        {% endif %}
        {% endfor %}
        <input type='submit' value='Zaktualizuj' class='btn btn-secondary'>
        <input type='button' value='Anuluj dodawanie pliku' class='btn btn-danger' onclick='document.getElementById("id_logo").value = ""'>
        <a href='{% url 'tournament_app:index' %}'>Powrót</a>
    </form>
</center>


{% endblock %}