{% extends 'tournament_app/base.html' %}
<html>
    <head>
        {% load static %}
        <link rel='stylesheet' type="text/css" href='{% static 'tournament_app/style.css' %}'>
    {% block content %}
    </head>
    <body>
    {% if user.logo %}
    <img src='{{user.logo.url}}' style='width:300px; length=300px; display: block; margin: 0 auto;'>
{% else %}
    <img src= '{% static 'tournament_app/user.png' %}' style='width:300px; length=300px; display: block; margin: 0 auto;'>
{% endif %}
    <h2 style='text-align:center;'><strong>{{ user.username }}</strong></h2>
    <div class='user-info-box' style='float: left; margin: 20px; border: 2px solid #ccc; padding: 20px;'>
        <p>Email: {{ user.email }}</p>
        {%if user.is_team == False %}
            <p>Drużyna: Brak drużyny</p>
        {%else %}
            {% for team in user.teams.all %}
                <p>Drużyna: <a href="{% url 'tournament_app:team_details' pk=team.pk%}">{{ team.name }}</a></p>
            {% endfor %}  
            <p>Ilość zdobytych MVP: {{ user.MVP }} 
        {% endif %}
    </div>
    <div class='user-info-center-inner'>
        {% if user.info %}
            <strong>Informacje o użytkowniku: </strong>{{ user.info }}
        {% else %}
            <strong>Informacje o użytkowniku: </strong>Brak
        {% endif %}
        </div>
        <center>
            <p style='margin:20px;'><a href='{% url 'tournament_app:user_list' %}' class='btn btn-dark'>Powrót</a></p>
        </center>
    {% endblock %}
    </body>
</html>