{% extends 'tournament_app/base.html' %}

{% load static %}

    {% block content %}

        {% if user.logo %}
            <img src='{{user.logo.url}}'style='width:200px; length=200px'>
        {% else %}
            <img src= '{% static 'tournament_app/user.png' %}' style='width:200px; length=200px;'>
        {% endif %}
            <p>Nick: {{user.username}}
            <p>Email: {{user.email}}
        {%if user.is_team == False %}
            <p>Drużyna: Brak drużyny</p>
        {%else %}
        <p>Ilość zdobytych MVP: {{ user.MVP }}
            {% for team in user.teams.all %}
                <p>Drużyna: <a href="{% url 'tournament_app:team_details' pk=team.pk%}">{{ team.name }}</a></p>
            {% endfor %}   
        {% endif %}
        {% if user.info %}
            <p>Informacje o użytkowniku: {{ user.info }}</p>
        {% else %}
            <p>Informacje o użytkowniku: Brak</p>
        {% endif %}
        <p><a href='{% url 'tournament_app:user_list' %}'>Powrót</a></p>

    {% endblock %}
</body>
</html>